<div class="container">


    <h2 class="header">{{'contact.header' | translate}}</h2>
    <hr>

    <div class="row">

        <div class="col-md-3 col-md-offset-2 well well-sm rounded-well text-center">
            <address>
                <strong>JustLogsIt</strong><br>
                Paris, France<br>
                <a href="mailto:#">jmlb@justogsit.com</a><br>
                +33 6 29 78 26 77
            </address>

        </div>
        <div class="col-md-3 col-md-offset-2 well well-sm rounded-well text-center">
            <address>
                <strong>JustLogsIt</strong><br>
                Aix en provence, France<br>
                <a href="mailto:#">mco@justlogsit.com</a><br>
                +33 6 95 41 58 54
            </address>
        </div>
    </div>

    <div class="well well-sm rounded-well">
        <form class="form-horizontal contact-form" method="post" name="contactForm" novalidate ng-if="!contactCtrl.submitted && !contactCtrl.errorWhileSending">
            <fieldset>


                <div class="form-group">
                    <span class="col-md-1 col-md-offset-1 text-right glyphicon glyphicon-user"></span>
                    <div class="col-md-8">
                        <input id="name" name="name" type="text" placeholder="{{'contact.formHeaderName' | translate}}" class="form-control"
                               ng-model="contactCtrl.name">
                    </div>
                </div>

                <div class="form-group">
                    <span class="col-md-1 col-md-offset-1 text-right glyphicon glyphicon-envelope"></span>
                    <div class="col-md-8">
                        <input id="email" name="email" type="email" placeholder="{{'contact.formHeaderEmail' | translate}}"
                               class="form-control" ng-model="contactCtrl.email" required>
                    </div>
                    <div ng-messages="contactForm.email.$error" ng-if="contactCtrl.showErrors" class="col-md-2">
                        <div ng-message="required"><p class="text-danger">{{'contact.formHeaderMandatoryField' | translate}}</p></div>
                        <div ng-message="email"><p class="text-danger">{{'contact.formHeaderInvalidEmail' | translate}}</p></div>
                    </div>
                </div>


                <div class="form-group">
                    <span class="col-md-1 col-md-offset-1 text-right glyphicon glyphicon-phone"></span>
                    <div class="col-md-8">
                        <input id="phone" name="phone" type="text" placeholder="{{'contact.formHeaderPhone' | translate}}" class="form-control"
                               ng-model="contactCtrl.phone">
                    </div>
                </div>

                <div class="form-group">
                    <span class="col-md-1 col-md-offset-1 text-right glyphicon glyphicon-info-sign"></span>
                    <div class="col-md-8">

                        <select id="subject" name="subject" ng-model="contactCtrl.subject" class="form-control">
                            <option value="option-1">{{'contact.formHeaderReason1' | translate}}</option>
                            <option value="option-2">{{'contact.formHeaderReason2' | translate}}</option>
                            <option value="option-3">{{'contact.formHeaderReason3' | translate}}</option>
                            <option value="option-4">{{'contact.formHeaderReason4' | translate}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <span class="col-md-1 col-md-offset-1 text-right glyphicon glyphicon-pencil"></span>
                    <div class="col-md-8">
                                <textarea class="form-control" id="message" name="message"
                                          placeholder="{{'contact.formHeaderMessage' | translate}}"
                                          rows="7" ng-model="contactCtrl.message" required></textarea>
                    </div>
                    <div ng-messages="contactForm.message.$error" ng-if="contactCtrl.showErrors" class="col-md-2">
                        <div ng-message="required"><p class="text-danger">{{'contact.formHeaderMandatoryField' | translate}}</p></div>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-4 col-md-offset-2"
                         vc-recaptcha key="'6LdKdSITAAAAADfUtZRonPB1BJxpM2o-K0vWZIa-'"
                         ng-model="contactCtrl.myRecaptchaResponse"></div>
                    <div class="col-md-2">
                        <div ng-if="contactCtrl.showErrors && !contactCtrl.myRecaptchaResponse">
                            <p class="text-danger">{{'contact.formHeaderMandatoryCaptcha' | translate}}</p>
                        </div>
                    </div>
                    <div class="col-md-2 text-center">
                        <input type="submit" id="submit" value="{{'contact.formHeaderSend' | translate}}" class="btn btn-primary btn-lg"
                               ng-click="contactCtrl.submit(contactForm)"/>
                    </div>
                </div>


            </fieldset>

        </form>
        <div class="lead" ng-if="contactCtrl.submitted">
            <p>{{'contact.formHeaderSent' | translate}}</p>
        </div>
        <div class="lead" ng-if="contactCtrl.errorWhileSending">
            <p>{{'contact.formHeaderErrorWhileSending' | translate}}</p>
        </div>


    </div>

    <hr>




</div>