<div class="container">


    <h2 class="featurette-heading text-center">{{'solutions.mainHeader' | translate}}</h2>

    <div class="row">
        <div class="col-md-5ths col-sm-6 col-xs-12">
            <a class="btn btn-danger btn-arrow-right" href="" ng-click="gotoAnchor('reception')">{{'solutions.receptionArrow' | translate}}</a>
            <ul>
                <li>{{'solutions.mainItem1' | translate}}</li>
                <li>{{'solutions.mainItem2' | translate}}</li>
                <li>{{'solutions.mainItem3' | translate}}</li>
                <li>{{'solutions.mainItem4' | translate}}</li>
            </ul>
        </div>
        <div class="col-md-5ths col-sm-6 col-xs-12">
            <a class="btn btn-info btn-arrow-right" href="" ng-click="gotoAnchor('stock')">{{'solutions.stockArrow' | translate}}</a>
            <ul>
                <li>{{'solutions.mainItem5' | translate}}</li>
                <li>{{'solutions.mainItem6' | translate}}</li>
                <li>{{'solutions.mainItem7' | translate}}</li>
                <li>{{'solutions.mainItem8' | translate}}</li>
                <li>{{'solutions.mainItem9' | translate}}</li>
            </ul>
        </div>
        <div class="col-md-5ths col-sm-6 col-xs-12">
            <a class="btn btn-primary btn-arrow-right" href="" ng-click="gotoAnchor('pickup')">{{'solutions.pickupArrow' | translate}}</a>
            <ul>
                <li>{{'solutions.mainItem10' | translate}}</li>
                <li>{{'solutions.mainItem11' | translate}}</li>
                <li>{{'solutions.mainItem12' | translate}}</li>
                <li>{{'solutions.mainItem13' | translate}}</li>
                <li>{{'solutions.mainItem14' | translate}}</li>
                <li>{{'solutions.mainItem15' | translate}}</li>
            </ul>
        </div>
        <div class="col-md-5ths col-sm-6 col-xs-12">
            <a class="btn btn-success btn-arrow-right" href="" ng-click="gotoAnchor('shipping')">{{'solutions.shippingArrow' | translate}}</a>
            <ul>
                <li>{{'solutions.mainItem16' | translate}}</li>
                <li>{{'solutions.mainItem17' | translate}}</li>
                <li>{{'solutions.mainItem18' | translate}}</li>
                <li>{{'solutions.mainItem19' | translate}}</li>
            </ul>
        </div>
        <div class="col-md-5ths col-sm-6 col-xs-12">
            <a class="btn btn-warning btn-arrow-right" href="" ng-click="gotoAnchor('management')">{{'solutions.managementArrow' | translate}}</a>
            <ul>
                <li>{{'solutions.mainItem20' | translate}}</li>
                <li>{{'solutions.mainItem21' | translate}}</li>
                <li>{{'solutions.mainItem22' | translate}}</li>
                <li>{{'solutions.mainItem23' | translate}}</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <ul class="lead">
                <li>{{'solutions.mainItem24' | translate}}</li>
                <li>{{'solutions.mainItem25' | translate}}</li>
            </ul>

        </div>
    </div>


    <hr class="featurette-divider">


    <div class="row featurette" id="reception">

        <h2 class="featurette-heading solution-heading"><span class="text-muted">{{'solutions.receptionHeader1' | translate}}</span>{{'solutions.receptionHeader2' | translate}}</h2>
        <a href="" class="btn btn-danger btn-arrow-right pull-right solution-marker">{{'solutions.receptionArrow' | translate}}</a>


        <div class="col-md-7">
            <ul>
                <li>{{'solutions.reception1SubHeader' | translate}}
                    <ul>
                        <li>{{'solutions.reception1Item1' | translate}}</li>
                        <li>{{'solutions.reception1Item2' | translate}}</li>
                        <li>{{'solutions.reception1Item3' | translate}}</li>
                        <li>{{'solutions.reception1Item4' | translate}}</li>
                        <li>{{'solutions.reception1Item5' | translate}}</li>
                        <li>{{'solutions.reception1Item6' | translate}}</li>
                    </ul>
                </li>
                <li>{{'solutions.reception2SubHeader' | translate}}
                    <ul>
                        <li>{{'solutions.reception2Item1' | translate}}</li>
                        <li>{{'solutions.reception2Item2' | translate}}</li>
                        <li>{{'solutions.reception2Item3' | translate}}</li>
                        <li>{{'solutions.reception2Item4' | translate}}</li>
                        <li>{{'solutions.reception2Item5' | translate}}</li>
                    </ul>
                </li>
                <li>{{'solutions.reception3SubHeader' | translate}}
                    <ul>
                        <li>{{'solutions.reception3Item1' | translate}}</li>
                        <li>{{'solutions.reception3Item2' | translate}}</li>
                    </ul>
                </li>
                <li>{{'solutions.reception4SubHeader' | translate}}
                    <ul>
                        <li>{{'solutions.reception4Item1' | translate}}</li>
                        <li>{{'solutions.reception4Item2' | translate}}</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" src="../../assets/images/image19.jpg"
                 alt="Warehouse image">
        </div>
    </div>


    <hr class="featurette-divider">


    <div class="row featurette" id="stock">

        <h2 class="featurette-heading solution-heading"><span class="text-muted">{{'solutions.stockHeader1' | translate}}</span>{{'solutions.stockHeader2' | translate}}</h2>
        <button type="button" class="btn btn-info btn-arrow-right pull-right solution-marker">{{'solutions.stockArrow' | translate}}</button>


        <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" src="../../assets/images/image13.jpg"
                 alt="Warehouse image">
        </div>

        <div class="col-md-7">
            <ul>
                <li>{{'solutions.stock1SubHeader' | translate}}
                    <ul>
                        <li>{{'solutions.stock1Item1' | translate}}</li>
                        <li>{{'solutions.stock1Item2' | translate}}</li>
                    </ul>
                </li>
                <li>{{'solutions.stock2SubHeader' | translate}}
                    <ul>
                        <li>{{'solutions.stock2Item1' | translate}}</li>
                        <li>{{'solutions.stock2Item2' | translate}}</li>
                    </ul>
                </li>
                <li>{{'solutions.stock3SubHeader' | translate}}
                    <ul>
                        <li>{{'solutions.stock3Item1' | translate}}</li>
                        <li>{{'solutions.stock3Item2' | translate}}</li>
                        <li>{{'solutions.stock3Item3' | translate}}</li>
                    </ul>
                </li>
                <li>{{'solutions.stock4SubHeader' | translate}}
                    <ul>
                        <li>{{'solutions.stock4Item1' | translate}}</li>
                        <li>{{'solutions.stock4Item2' | translate}}</li>
                    </ul>
                </li>
                <li>{{'solutions.stock5SubHeader' | translate}}
                    <ul>
                        <li>{{'solutions.stock5Item1' | translate}}</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <hr class="featurette-divider">


    <div class="row featurette" id="pickup">

        <h2 class="featurette-heading solution-heading">{{'solutions.pickupHeader1' | translate}}<span class="text-muted">{{'solutions.pickupHeader2' | translate}}</span></h2>
        <button type="button" class="btn btn-primary btn-arrow-right pull-right solution-marker">{{'solutions.pickupArrow' | translate}}</button>

        <div class="col-md-7">
            <ul>
                <li>{{'solutions.pickup1SubHeader' | translate}}
                </li>
                <li>{{'solutions.pickup2SubHeader' | translate}}
                    <ul>
                        <li>{{'solutions.pickup2Item1' | translate}}</li>
                    </ul>
                </li>
                <li>{{'solutions.pickup3SubHeader' | translate}}
                    <ul>
                        <li>{{'solutions.pickup3Item1' | translate}}</li>
                        <li>{{'solutions.pickup3Item2' | translate}}</li>
                    </ul>
                </li>
                <li>{{'solutions.pickup5SubHeader' | translate}}
                    <ul>
                        <li>{{'solutions.pickup5Item1' | translate}}</li>
                    </ul>
                </li>
                <li>{{'solutions.pickup6SubHeader' | translate}}
                    <ul>
                        <li>{{'solutions.pickup6Item1' | translate}}</li>
                        <li>{{'solutions.pickup6Item2' | translate}}</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" src="../../assets/images/image15.jpg"
                 alt="Parcel scanner image">
        </div>
    </div>


    <hr class="featurette-divider">


    <div class="row featurette" id="shipping">

        <h2 class="featurette-heading solution-heading"><span class="text-muted">{{'solutions.shippingsHeader1' | translate}}</span>{{'solutions.shippingsHeader2' | translate}}</h2>
        <button type="button" class="btn btn-success btn-arrow-right pull-right solution-marker">{{'solutions.shippingArrow' | translate}}</button>

        <h2 class="featurette-heading"></h2>

        <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" src="../../assets/images/ship-56569_640.jpg"
                 alt="Cruising cargo image">
        </div>

        <div class="col-md-7">
            <ul>
                <li>{{'solutions.shippings1SubHeader' | translate}}
                    <ul>
                        <li>{{'solutions.shippings1Item1' | translate}}</li>
                    </ul>
                </li>
                <li>{{'solutions.shippings2SubHeader' | translate}}
                    <ul>
                        <li>{{'solutions.shippings2Item1' | translate}}</li>
                        <li>{{'solutions.shippings2Item2' | translate}}</li>
                    </ul>
                </li>
                <li>{{'solutions.shippings3SubHeader' | translate}}
                    <ul>
                        <li>{{'solutions.shippings3Item1' | translate}}</li>
                        <li>{{'solutions.shippings3Item2' | translate}}</li>
                        <li>{{'solutions.shippings3Item3' | translate}}</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>


    <hr class="featurette-divider">


    <div class="row featurette" id="management">


        <h2 class="featurette-heading solution-heading">{{'solutions.managementHeader1' | translate}}</h2>
        <button type="button" class="btn btn-warning btn-arrow-right pull-right solution-marker" id="managementArrow">{{'solutions.managementArrow' | translate}}</button>


        <div class="col-md-7">
            <ul>
                <li>{{'solutions.management1SubHeader' | translate}}
                    <ul>
                        <li>{{'solutions.management1Item1' | translate}}</li>
                    </ul>
                </li>
                <li>{{'solutions.management2SubHeader' | translate}}
                    <ul>
                        <li>{{'solutions.management2Item1' | translate}}</li>
                    </ul>
                </li>
                <li>{{'solutions.management3SubHeader' | translate}}
                    <ul>
                        <li>{{'solutions.management3Item1' | translate}}</li>
                        <li>{{'solutions.management3Item2' | translate}}</li>
                    </ul>
                </li>
                <li>{{'solutions.management4SubHeader' | translate}}
                </li>
            </ul>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" src="../../assets/images/image14.jpg"
                 alt="justologsit app image">
        </div>
    </div>


    <hr class="featurette-divider">

    <div class="row featurette">

        <div class="col-md-7">

            <h2 class="featurette-heading">{{'solutions.additionalModulesHeader1' | translate}}<span class="text-muted">{{'solutions.additionalModulesHeader2' | translate}}</span></h2>
            <ul>
                <li>{{'solutions.additionalModules1SubHeader' | translate}}</li>
                <li>{{'solutions.additionalModules2SubHeader' | translate}}</li>
                <li>{{'solutions.additionalModules3SubHeader' | translate}}</li>
                <li>{{'solutions.additionalModules4SubHeader' | translate}}</li>
                <li>{{'solutions.additionalModules5SubHeader' | translate}}</li>
                <li>{{'solutions.additionalModules6SubHeader' | translate}}</li>
                <li>{{'solutions.additionalModules7SubHeader' | translate}}</li>
                <li>{{'solutions.additionalModules8SubHeader' | translate}}</li>
                <li>{{'solutions.additionalModules9SubHeader' | translate}}</li>
                <li>{{'solutions.additionalModules10SubHeader' | translate}}</li>

            </ul>
        </div>


        <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" src="../../assets/images/image22.png"
                 alt="Module image">
        </div>
    </div>


</div>